<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		 
	<!-- favicon link -->
	<link rel="shortcut icon" href="#">

	<title>Eat Da Burger!</title>
</head>

<body>

		<h1>Burgers!</h1>
		<h2>Eat Da Burger!</h2>

		{{{ body }}}

</body>

</html>